<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clubin.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CLUBIN">
        <activity
            android:name="com.clubin.com.auth.signup.SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name=".fragment.profile.AccountEditActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.login.view.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.onboarding.view.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.signup.InscriptionPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.signup.InscriptionEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.signup.InscriptionNameActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.signup.InscriptionAgeActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.passwordreset.view.PasswordResetNewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.passwordreset.view.PasswordResetCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name="com.clubin.com.auth.passwordreset.PasswordResetEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.CLUBIN.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabbar.TabBarActivity"
            android:exported="true"
            android:theme="@style/Theme.CLUBIN.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".themeparty.view.ThemePartyActivity"
            android:exported="false"
            android:theme="@style/Theme.CLUBIN.NoActionBar" />
    </application>

</manifest>